#ping-pong-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    min-height: 1000px;
    min-width: 800px;
}

#score-count{

    height: 3rem;
    width: 6rem;
    background-color: green;
    text-align: center;
    line-height: 3rem;
    border-radius: 1.2rem;
    margin: 1rem 0;
    color: antiquewhite;
    font-size: large;
}

#ping-pong-table{
    position: relative;
    width: 700px;
    height: 500px;
    border: solid 2px;
    background-color: black;
}

#paddle{
    position: absolute;
    top:0;
    left: 1px;
    width: 10px;
    height: 60px;
    background-color: rgb(156, 55, 252);
}

#ball{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(247, 34, 34);
}